@media screen and (max-width: 768px){
    .Navbar-menu{
      display: none;
    }
  }

.Navbar {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    position: fixed; 
    background-color: #333;
    align-items: center;
    top: 0; 
    margin: auto;
    width: 100%; 
    height: 55px;
    clear: both;
    padding: 0 1rem;
}



.Navbar-home {
    display: block ;
    float: left;
    justify-self: start;
    cursor: pointer;
    
}

.Navbar-home:hover{
    background:black;
    color: white;
    border-radius: 5px;
    padding: 5px;
    transition: all 0.2s ease-out;
    cursor: pointer;
}




.Navbar-menu {
    background-color: transparent;
    /**display: grid;
    float: right;
    list-style: none;
    justify-content: end;
    margin: 0;
    width: 75vw;
    transition: .3s;
    height: 55px;
    left: 0;**/
    
    
}
 

.Navbar-menu.active{
    width: 100%;
    height: 90vh;
    text-align: center;
    
}

nav ul{
    margin: 0;
    padding: 0;
    align-items: center;
}

nav li{
    display: inline-block;
    margin-right: 70px;
    padding-top: 0.5rem 1rem;
    text-decoration: none;
}



.Navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 8px 1px;
    text-decoration: none;
  }

.Navbar a:hover {
    background:white;
    color: black;
    border-radius: 5px;
    font-weight: 400;
    transition: all 0.2s ease-out;
    cursor: pointer;
}

.Toggle-button{
    right: 1rem;
    display: block;
    float: right;
    cursor: pointer;
    position: fixed;
}

.Toggle-button:hover {
    background:black;
    border-radius: 5px;
    padding: 5px;
    transition: all 0.2s ease-out;
    cursor: pointer;

}

