.greeting-img-div {
  display: flex;
}

/* .greeting-img-div > img {
  height: auto;
  width: 50%;
} */

.self {
  border-radius: 10px;
  height: auto;
  width: 100%;
}

@media (max-width: 1380px) {
  .self {
    height: auto;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .self {
    height: auto;
    width: 100%;
  }
}

@media (max-width: 320px) {
  .main {
    width: auto;
  }
  .self {
  }
}
