.root{
    display: flex;  
    color:aqua;
}
.Topnav{
    height: 100px;
    color: gray;
}

.Topnav::after{
    content: '';
    display: table;
    clear: both;
    content: '';

}

.HomeIcon {
    float: left;
}

.Directory {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;

}

nav li{
    display: inline-block;
}