.navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  width: 100%;
  clear: both;
  background-color: rgba(29, 28, 28, 0.849);
}

.navbar-home {
  display: block;
  float: left;
  justify-self: start;
  cursor: pointer;
  padding: 0em 0em 0em 0.5em;
}

.navbar-home:hover {
  border-radius: 5px;

  transition: all 0.2s ease-out;
  cursor: pointer;
}

nav ul {
  margin: 0;
  padding: 0.5em;
  align-items: center;
}

nav li {
  display: inline-block;
  margin-right: 70px;
  padding-top: 0.5rem 1rem;
  text-decoration: none;
}

.navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 8px 1px;
  text-decoration: none;
}

.navbar a:hover {
  border-radius: 5px;
  font-weight: 400;
  transition: all 0.2s;
  cursor: pointer;
}

.toggle-button {
  right: 2rem;
  display: none;
  float: right;
  cursor: pointer;
  position: fixed;
}

.toggle-button:hover {
  transition: all 0.2s ease-out;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar-home {
    padding: 0;
  }

  /* .navbarContainer {
    display: flex;
    width: 100%;
    align-items: center;
  } */

  .navbar-menu {
    display: none;
  }

  .navbar ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar li {
  }
}

.toggle-button {
  display: flex;
  margin: 0.5em;
}
