.devIcons {
  text-decoration: none;
  text-transform: uppercase;
}

.software-skill-inline {
  display: inline-block;
  padding: 0.2em;
  font-size: 4em;
}

.software-skill-inline > p {
  /* color: $subTitle; */
  display: grid;
  font-size: min(0.2em, 1em);
  text-align: center;
}

/* .software-skill-inline > i {
  color: $subTitle;
}

.software-skill-inline > i:hover {
  color: $skillsColor;
} */

/* .software-skill-inline > i:hover ~ p {
  color: $skillsColor;
} */

div.transBox {
  background-color: rgba(29, 28, 28, 0.849);
  padding: 2% 2%;
  border-radius: 10px;
  color: white;
  margin: 0em 2em 2em 2em;
}

@media screen and (width: 768px) {
  .devIcons {
    display: block;
  }

  .software-skill-inline > p {
    padding: 0.2em;
    font-size: 1vw;
  }
  /* #tech_stack {
    width: 100px;
    height: auto;
  } */
}
